body{
    margin: 0;
}
.first-section{
    display: flex;
    margin-bottom: 90px;
}
.first-section-left{
    width:100%;
    padding: 0px 80px;
    margin-top: 30px;
}
.first-section-left h1{
    font-size: 44px;
}
.first-section-right{
    width:100%;
    text-align: center;
    margin-top: 60px;
}
.first-section-right img{
    width: 400px;
    box-shadow: 2px 2px 20px grey;
    border-radius: 300px;
}
.first-section-left h1{
    font-family: 'Alfa Slab One', cursive;
    margin-left: 10px;
}
#heading-mission{
    color: #0adf78;
}
.first-section-left p,a{
    font-family: 'Be Vietnam Pro', sans-serif;
}
.first-section-left p{
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: justify;
}
#discover, #documentation{
    width: 100%;
    text-decoration: none;
    height: 20px;
    background-color: #0adf78;
    padding: 10px 40px;
    color: white;
    font-weight: bold;
    border-radius: 3px;
}
.heading-border{
    border-left: 7px solid;
    border-color: rgb(255, 94, 0);
    border-image-slice: 1;  
    line-height: 30px;
}
.mission{
    margin-bottom: 110px;
}
.mission h1,.contact-me h1{
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    font-size: 40px;
    text-transform: uppercase;
}
#year{
    color: #0adf78;
    text-decoration: 5px solid underline;
}
#my-mission{
    color: #3A2453;
}
.mission-body{
    display: flex;
}
.mission-body h1{
    text-align: left;
}
.mission-body img{
    width: 40%;
    text-align: left;
}
.mission-body-content{
    width: 100%;
    padding: 20px 30px;
    text-align: justify;
    border-radius: 20px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 15px;
}
.mission-body-content h2{
    font-weight: bold;
    font-size: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.mission-body-content:nth-child(1){
    background-color: #eee8cd;
    margin-left: 80px;
    margin-right: 20px;
}
.mission-body-content:nth-child(2){
    background-color: #F9E79F;
    margin-right: 20px;
}
.mission-body-content:nth-child(3){
    background-color: #BCBBFF;
    margin-right: 80px;
}
.upper-skills-section{
    display: flex;
    margin-bottom: 90px;
}
.lower-skills-section{
    display: flex;
}
.upper-skills-left,.lower-skills-left{
    width: 100%;
    margin-left: 80px;
}
.upper-skills-left img{
    width: 400px;
}
.lower-skills-right img{
    width: 400px;
    margin-left: 145px;
}
.upper-skills-right,.lower-skills-right{
    width: 100%;
    margin-right: 80px;
}
.upper-skills-right h1,.lower-skills-left h1{
    font-family: 'Alfa Slab One', cursive;
    font-size: 30px;
}
.upper-skills-right p,.lower-skills-left p{
    font-family: 'Be Vietnam Pro', sans-serif;
    text-align: justify;
    margin-bottom: 30px;
}
.contact-me{
    margin-top: 110px;
}
.contact-me{
    width: 100%;
    height: auto;
    background-color: #ACD7E5;
    padding: 20px 0px;
}
.contact-head{
    width: 80%;
    height: auto;
    background-color: #FFFFFF;
    margin-top: 30px;
    display: flex;
    padding: 20px 0px;
    margin: 0 auto;
    border-radius: 5px;
    font-family: 'Be Vietnam Pro', sans-serif;
}
.adress-left{
    display: flex;
    flex-direction: column;
    flex:2;
    border-right: 2px solid black;
    padding: 0px 15px;
}
.adress-right{
    display: flex;
    flex: 5;
    flex-direction: column;
    padding: 0px 15px;
}
.adress-right .phone{
    color: #DC3545;
}
.adress-right .email{
    color: rgb(0, 183, 255);
}
.contact-body{
    width: 90%;
    height: auto;
    background-color: white;
    margin-top: 20px;
    display: flex;
    margin-bottom: 60px;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 90px;
}
.cb-left{
    flex: 1;
    background-color:rgba(0,0,0,0.8);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.cb-left form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.cb-left form input[type=text],button{
    width: 65%;
    height: 35px;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 5px;
}
.cb-left form button{
    margin-bottom: 40px;
    background-color: #e67e22;
    font-size: 20px;
    color: white;
}
.cb-left form textarea{
    width: 65%;
    height: 100px;
    margin-top: 20px;
    border-radius: 5px;
}
.cb-right{
    flex: 1;
    padding: 15px 37px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 25px;
}
.cb-right img{
   width: 100%;
   border: 1px solid black;
   margin-top: 15px;
}
footer{
    width: 100%;
    height: 150px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-body{
    text-align: center;
}
.footer-body h1{
    font-family: 'Lobster', cursive;
}
.footer-body p{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 12px;
    color: rgb(190, 171, 190);
}